:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



html {
  height: 100%;
  width: 100%;
}

body {
margin: 0;
}

#app {
  margin: 0;
  min-height: 100vh;
  min-width: 100vw;



  background-color: rgb(78, 77, 77);
  color: rgb(255, 255, 255);


}

.content{
  width: 100%;
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
}

.textbox{
  top: 0vh;
  margin-top: 8vh;
  margin-left: 10vw;
  left: 0vw;
  width: 80vw;
  border: none;
  caret-color: transparent;
  background-color: transparent;
  color: white;
  font-size: 7vh;

}
.textbox:focus{
  outline: none; 
}

p{
  margin: 0;
}

.content{
  display: flex;
  align-items: center;
}


.tuning-element{
  margin-top: 3px;
  margin-bottom: 2vh
}

select{
  border-radius: 4px;
}

.slider-element, .waveform-element{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 2vh;
  margin-bottom: 2vh
}

.slider{
  margin-right: 7px;
}
.slider-label, .waveform-label{
  margin-right: 7px;
}

.toggled-on{
  background-color: lightblue;
}
.toggled-off{
  background-color: lightgray;
}

.calibrate-button{
  height: 100%;
}

.calibrate-on{
  background-color: lightblue;
}
.calibrate-off{
  background-color: lightgray;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  width: fit-content;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  margin-top: 5px;
}

button:hover{
  border-color: black;
}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
